# Ignore certificate and key files
*.crt
*.key
*Project/.ovpn
*Project/.pem

# Ignore Terraform state files
Project/Terraform/terraform.tfstate
Project/Terraform/terraform.tfstate.backup

# Ignore other sensitive configuration files
Project/Terraform/terraform.tfvars

